<app-menu></app-menu>

<div class="monthly">
    <div class="side-col">
        <h2>This Month</h2>
        
        <div class="month">
            <button mat-icon-button class="add-week-task" (click)="openDialog('month')">
                <mat-icon>add</mat-icon>
            </button>
            <div>
                <div class="tasks">
                    <app-task-cell (sortTasks)="sortViewTasks()" class="task" *ngFor="let task of monthTasks" [task]="task"
                        [refreshPageFunctoin]="fetchMonth"></app-task-cell>
                </div>
            </div>
        </div>
    </div>
    <div class="calendar">
        <div class="calendarButtons">
            <h2 class="name-of-month">{{monthName}}</h2>
            <div class="navigateForMonth">
                <button mat-stroked-button (click)="nextMonth(-1)">
                    <mat-icon>keyboard_arrow_left</mat-icon>
                </button>
                <a (click)="today()">Today</a>
                <button mat-stroked-button (click)="nextMonth(1)">
                    <mat-icon>keyboard_arrow_right</mat-icon>
                </button>
            </div>
            <button class="addTask" mat-stroked-button (click)="openDialog()">
                <mat-icon>add</mat-icon>
            </button>
        </div>
        <div class="name-week-days">
            <div *ngFor="let name of listOfNames">{{name}}</div>
        </div>
        <app-week-cell (sortTasks)="sortViewTasks()" *ngFor="let week of daysOfMonthWeek"
            [listOfDays]="week"></app-week-cell>
    </div>
    <div class="weeks side-col">
        <h2>These Weeks</h2>
        <div class="tasks-for-weeks">
            <div class="week" *ngFor="let week of tasksByWeeks">
                <div class="week-controls">
                    <p>
                        <span>{{week.start.getDate()}}-{{week.end.getDate()}}</span>
                    </p>
                    <button mat-icon-button class="add-week-task" (click)="openDialog('week', week.start, week.end)">
                        <mat-icon>add</mat-icon>
                    </button>
                </div>

                <div class="tasks">
                    <app-task-cell (sortTasks)="sortViewTasks()" class="task" *ngFor="let task of week.tasks"
                        [task]="task" [refreshPageFunctoin]="fetchMonth"></app-task-cell>
                </div>
            </div>
        </div>
    </div>
</div>