app-week-cell:last-child{
    & .cell{
        border-bottom: 1px solid var(--border-color);
    }
}

.name-week-days{
    display: flex;
    flex-direction: row;
    width: 100%;

    & div{
        width: 100%;
        text-align: center;
        min-width: 100px;
        font-weight: 400;
        padding-bottom: 5px;
    }
}

h2{
    text-align: right;
    margin: 0;
    width: 100%;
}

.calendarButtons{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 20px;

    width: 100%;
    justify-content: flex-end;
    min-width: 700px;

    padding-bottom: 10px;
}

.navigateForMonth{
    display: flex;
    align-items: center;
    gap: 7px;
}

.addTask{
    padding-left: 20px;
}

a{
    /* font-weight: bold; */
    cursor: pointer;
    user-select: none;
}

.calendar{
    padding: 0 200px 0 64px;
}

.mdc-button {
    min-width: auto;
    padding: 0;
    margin: 0;
    aspect-ratio: 1 /1 ;
}

.mat-mdc-outlined-button>.mat-icon {
    margin: 0;
    vertical-align: middle;
    color: var(--text-color);
}