

<app-menu></app-menu>


<div class="calendar">
    <div class="calendarButtons">
        <h2>{{monthName}}</h2>
        <div class="navigateForMonth">
            <button mat-stroked-button (click)="nextMonth(-1)">
                <mat-icon>keyboard_arrow_left</mat-icon>
            </button>
            <a (click)="today()">Today</a>
            <button mat-stroked-button (click)="nextMonth(1)">
                <mat-icon>keyboard_arrow_right</mat-icon>
            </button>
        </div>
        <button class="addTask" mat-stroked-button (click)="openDialog()">
            <mat-icon>add</mat-icon>
        </button>
    </div>
    <div class="name-week-days">
        <div *ngFor="let name of listOfNames">{{name}}</div>
    </div>
    <app-week-cell *ngFor="let week of daysOfMonthWeek" [listOfDays]="week"></app-week-cell>
</div>

