.menu{
    display: flex;
    align-items: center;
    width: 150px;
    gap: 5px;
    padding: .5em;
}

.button-menu{
    background-color: var(--button-color);
}

h1{
    margin: 0;
    line-height: 48px;
}


.tree-icon{ 
    position: absolute;
    right: 0;
}

.tree-planning, .tree-filters{
    padding-left: 16px;

    /* & button{
        min-height: 40px;
    } */
}

.tree-filters{
    max-height: 150px;
    overflow: auto;
}

.filters{
    margin-top: 48px;
}

.filter-add{
    font-size: 18px;
    
    box-shadow: 0 0 4px var(--border-color);
    border-radius: 8px;
    /* height: 20px; */
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-color) !important; 
    background-color: rgba(97, 235, 139, 0.795);
}

.mat-mdc-menu-item {
    color: var(--text-color) !important;
}

.tag-button{
    position: relative;

    &:hover .filter-edit{
        opacity: 1;
    }
}

.filter-edit{
    top: 0px;
    position: absolute;
    right: 4px;
    color: var(--text-color) !important; 
    opacity: 0;
    transition: opacity .2s;
    border-radius: 1000px;

    &:hover{
        background: rgba(0, 0, 0, .04);
    }
}
