<div class="menu">
    <button class="button-menu" mat-icon-button matTooltip="Basic" [matMenuTriggerFor]="menu">
        <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <mat-tab-group (click)="$event.stopPropagation()">
            <mat-tab label="Planning">
                <button mat-menu-item (click)="showHidePlanningTree()">
                    <span>Planning</span>
                    <mat-icon class="tree-icon">keyboard_arrow_down</mat-icon>
                </button>
                <div class="tree-planning" *ngIf="showPlanningTree">
                    <button mat-menu-item>
                        <span>Monthly</span>
                    </button>
                    <button mat-menu-item>
                        <span>Weekly</span>
                    </button>
                    <button mat-menu-item>
                        <span>Daily</span>
                    </button>
                </div>

                <button class="filters" mat-menu-item (click)="showHideFiltersTree()">
                    <span>Filters</span>
                    <mat-icon class="tree-icon">keyboard_arrow_down</mat-icon>
                </button>
                <div class="tree-filters" *ngIf="showFilterTree">
                    <button mat-menu-item>
                        <mat-icon class="filter-add">add</mat-icon>
                        <span>Name</span>
                    </button>
                </div>

            </mat-tab>
            <!-- <mat-tab label="Pages">
                <button mat-menu-item>
                    <span>Book shelf</span>
                </button>
                <button mat-menu-item>
                    <span>Mood tracker</span>
                </button>
            </mat-tab> -->
        </mat-tab-group>
        
    </mat-menu>

    <h1>PLAN&nbsp;B</h1>
</div>