@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root{
    /* fonts */
    --text-font: "Rubik";

    /* font size */

    /* colors */
    --background-color: #EEF5FF;
    --button-color: #B4D4FF;
    --button-hovering-color: #8EBAF5;
    --button-click-color: #6BA0E8;

    --text-color: #263C62;

    --border-color: #365486;
    --border-error-color: #D93939;
}

html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: var(--text-font); 
    font-weight: 300; 
    font-style: var(--text-color);
    color: var(--text-color);
    background: var(--background-color);
}

h1, h2 {
    font-weight: normal;
}

.mat-mdc-menu-panel{
    max-width: none !important;
    background-color: var(--button-color) !important;

}

.mat-mdc-tab-body-content {
    height: 500px !important;
    width: 250px !important;
    overflow: hidden !important;
}

.mdc-tab{
    padding: 0 48px !important;
    
}

.mat-mdc-text-field-wrapper,
.google-login-btn {
    background-color: white !important;
}
