@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root{
    /* fonts */
    --text-font: "Rubik";

    /* font size */

    /* colors */
    --background-color: #EEF5FF;
    --button-color: #B4D4FF;
    --button-hovering-color: #8EBAF5;
    --button-click-color: #6BA0E8;

    --text-color: #263C62;

    --border-color: #365486;
    --border-error-color: #D93939;
}

html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: var(--text-font); 
    font-weight: 300; 
    font-style: var(--text-color);
    color: var(--text-color);
}

h1, h2 {
    font-weight: normal;
}