.task{
    font-weight: 400;
    cursor: pointer;
    padding: 2px 10px;
    border-radius: 80px;
    background-color: var(--color, #0ff);
    box-shadow: 0 0 0 1px var(--border-color), 0 2px 4px var(--border-color);
    min-height: inherit;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}