<app-menu (sortTasks)="filter($event)"></app-menu>

<div class="day-view">
    <div class="view">
        <div class="calendar-notes">
            <div class="calendar block">
                <div class="calendarButtons">
                    <h2 class="name-of-month">{{formatMonthView()}}</h2>
                    <div class="navigateForMonth">
                        <button mat-stroked-button (click)="nextMonth(-1)">
                            <mat-icon>keyboard_arrow_left</mat-icon>
                        </button>
                        <a (click)="today()">Today</a>
                        <button mat-stroked-button (click)="nextMonth(1)">
                            <mat-icon>keyboard_arrow_right</mat-icon>
                        </button>
                    </div>
                </div>
                <div class="week" *ngFor="let week of calendar">
                    <div class="
                        day
                        {{day.greyed ? 'greyed' : ''}}
                        {{removeTime(day.date).getTime() == removeTime(now()).getTime() ? 'today' : ''}}
                        {{removeTime(day.date).getTime() == removeTime(dayData.date).getTime() ? 'current' : ''}}
                    " *ngFor="let day of week" (click)="routeToDay(day.date)">
                        {{day.date.getDate()}}
                    </div>
                </div>
            </div>
            <div class="notes block">
                <textarea placeholder="Your notes here..." name="notes" id="notes"></textarea>
            </div>
        </div>
        <div class="todo block">
            <button mat-icon-button (click)="openDialog()">
                <mat-icon>add</mat-icon>
            </button>
            <div class="currentDate">{{formatDateView()}}</div>
            <div class="tasks">
                <app-task-cell class="task" *ngFor="let task of filteredListOfTasks" [task]="task" (sortTasks)="processTasksToDay()"
                    [refreshPageFunctoin]="fetchDay"></app-task-cell>
            </div>
        </div>
    </div>
</div>