.cell{
    position: relative;
    width: 100%;
    min-width: 100px;
    box-sizing: border-box;
    height: 130px;
    border: 1px solid var(--border-color);
    border-right: none;  
    border-bottom: none;

    &:hover{
        button{
            opacity: 1;
        }
    }
}

p{
    position: absolute;
    margin: 0;
    height: 48px;
    line-height: 48px;
    padding-left: 10px;
}

button{
    position: absolute;
    right: 0;
    opacity: 0;
    transition: opacity ease 0.3s;
}

