
<div class="login">
    <h1>PLAN&nbsp;>&nbsp;B</h1>
    <form>
        <h2>Log in</h2>
        
        <mat-form-field [hideRequiredMarker]="hideRequired" appearance="outline">
            <mat-label>Login</mat-label>
            <input type="email" [(ngModel)]="userLog.email" matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher" matInput placeholder="example@example.com">
            <mat-hint></mat-hint>
            <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                Please enter a valid email address
            </mat-error>
            <mat-error *ngIf="emailFormControl.hasError('required')">
                Email is required!
            </mat-error> 
            <mat-error *ngIf="emailFormControl.hasError('emailNotExists')">
                {{email_hint}}
            </mat-error>
        </mat-form-field>

        <mat-form-field [hideRequiredMarker]="true">
            <mat-label>Password</mat-label>
            <input matInput [(ngModel)]="userLog.password" [formControl]="passwordFormControl" [errorStateMatcher]="matcher" [type]="hidePassword ? 'password' : 'text'">
            <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword">
                <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>

            <mat-hint></mat-hint>
            <mat-error *ngIf="passwordFormControl.hasError('required')">
                Password is required!
            </mat-error>
        </mat-form-field>

        <div class="btns">
            <button mat-stroked-button (click)="userLogIn()" type="submit">
                Log in
            </button>
            <button mat-stroked-button class="google-login-btn"></button>
        </div>

        <div class="links">
            <a href="/registration" class="signup">Sign up</a>
            <a href="/forget-password" class="forget">Forget password?</a>
        </div>
    </form>
</div>